.container{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
    background-color:#D4A373;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(0,0,0.5);
}
button{
    background-color: #FAEDCD;
    box-shadow: 0px 2px 2px rgb(0,0,0.5);
}
button:hover{
    scale: 1.1;
}