form{
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color:#D4A373;
    padding: 20px;
    color: black;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(0,0,0.5);
}
form label{
    margin: 2px;
}
form input{
    height: 30px;
    margin: 2px;
}
form input:focus{
    outline: none;
}
form button{
    margin: 20px;
}
form a{
    color: black;
    margin-left: 5px;
}
form a:hover{
    color: rgb(71, 17, 17);
}